/* Aber Mono */
@font-face {
  font-family: "Aber Mono";
  src: url("../assets/fonts/Aber-Mono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* Aktiv Grotesk Ext */
@font-face {
  font-family: "Aktiv Grotesk Ext";
  src: url("../assets/fonts/Aktiv-Grotesk-Ext.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Aktiv Grotesk Ext";
  src: url("../assets/fonts/Aktiv-Grotesk-Ext-Xbold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
/* Circular */
@font-face {
  font-family: "Circular";
  src: url("../assets/fonts/Circular-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* Gellix */
@font-face {
  font-family: "Gellix";
  src: url("../assets/fonts/Gellix.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gellix";
  src: url("../assets/fonts/Gellix-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gellix";
  src: url("../assets/fonts/Gellix-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* Goldplay */
@font-face {
  font-family: "Goldplay";
  src: url("../assets/fonts/Goldplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Goldplay";
  src: url("../assets/fonts/Goldplay-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* Inter */
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
/* Inter */
@font-face {
  font-family: "Inter-Black";
  src: url("../assets/fonts/Inter_28pt-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  text-transform: uppercase;
}
/* Roboto Mono */
@font-face {
  font-family: "RobotoMono";
  src: url("../assets/fonts/Roboto_Mono.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RobotoMono-Bold";
  src: url("../assets/fonts/Roboto-Mono-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Inter", sans-serif;
  color: #000;
}

/* Margin helpers */
/* Margin helpers */
.mt-sm {
  margin-top: 8px;
}

.mb-sm {
  margin-bottom: 8px;
}

.ml-sm {
  margin-left: 8px;
}

.mr-sm {
  margin-right: 8px;
}

.mx-sm {
  margin-left: 8px;
  margin-right: 8px;
}

.my-sm {
  margin-top: 8px;
  margin-bottom: 8px;
}

/* Padding helpers */
.pt-sm {
  padding-top: 8px;
}

.pb-sm {
  padding-bottom: 8px;
}

.pl-sm {
  padding-left: 8px;
}

.pr-sm {
  padding-right: 8px;
}

.px-sm {
  padding-left: 8px;
  padding-right: 8px;
}

.py-sm {
  padding-top: 8px;
  padding-bottom: 8px;
}

/* Margin helpers */
.mt-md {
  margin-top: 16px;
}

.mb-md {
  margin-bottom: 16px;
}

.ml-md {
  margin-left: 16px;
}

.mr-md {
  margin-right: 16px;
}

.mx-md {
  margin-left: 16px;
  margin-right: 16px;
}

.my-md {
  margin-top: 16px;
  margin-bottom: 16px;
}

/* Padding helpers */
.pt-md {
  padding-top: 16px;
}

.pb-md {
  padding-bottom: 16px;
}

.pl-md {
  padding-left: 16px;
}

.pr-md {
  padding-right: 16px;
}

.px-md {
  padding-left: 16px;
  padding-right: 16px;
}

.py-md {
  padding-top: 16px;
  padding-bottom: 16px;
}

/* Margin helpers */
.mt-lg {
  margin-top: 24px;
}

.mb-lg {
  margin-bottom: 24px;
}

.ml-lg {
  margin-left: 24px;
}

.mr-lg {
  margin-right: 24px;
}

.mx-lg {
  margin-left: 24px;
  margin-right: 24px;
}

.my-lg {
  margin-top: 24px;
  margin-bottom: 24px;
}

/* Padding helpers */
.pt-lg {
  padding-top: 24px;
}

.pb-lg {
  padding-bottom: 24px;
}

.pl-lg {
  padding-left: 24px;
}

.pr-lg {
  padding-right: 24px;
}

.px-lg {
  padding-left: 24px;
  padding-right: 24px;
}

.py-lg {
  padding-top: 24px;
  padding-bottom: 24px;
}

/* Margin helpers */
.mt-xl {
  margin-top: 32px;
}

.mb-xl {
  margin-bottom: 32px;
}

.ml-xl {
  margin-left: 32px;
}

.mr-xl {
  margin-right: 32px;
}

.mx-xl {
  margin-left: 32px;
  margin-right: 32px;
}

.my-xl {
  margin-top: 32px;
  margin-bottom: 32px;
}

/* Padding helpers */
.pt-xl {
  padding-top: 32px;
}

.pb-xl {
  padding-bottom: 32px;
}

.pl-xl {
  padding-left: 32px;
}

.pr-xl {
  padding-right: 32px;
}

.px-xl {
  padding-left: 32px;
  padding-right: 32px;
}

.py-xl {
  padding-top: 32px;
  padding-bottom: 32px;
}

.spacer-sm {
  height: 8px;
}

.spacer-md {
  height: 16px;
}

.spacer-lg {
  height: 24px;
}

.spacer-xl {
  height: 32px;
}

.spacer-w-sm {
  width: 8px;
  display: inline-block;
}

.spacer-w-md {
  width: 16px;
  display: inline-block;
}

.spacer-w-lg {
  width: 24px;
  display: inline-block;
}

.w-100 {
  width: 100%;
}

.btn-rounded {
  border-radius: 35px;
  display: inline-block;
  height: 51px;
  font-family: RobotoMono;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: 51px;
  padding-left: 45px;
  padding-right: 45px;
}

.btn-black {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
}

.btn-black:hover {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  transform: translateY(-1px);
}

.btn-yellow {
  background-color: #FFBA00;
  color: rgb(46, 48, 46);
  border: 1px solid #FFBA00;
}

.btn-yellow:hover {
  background-color: transparent;
  border: 1px solid #FFBA00;
  color: #FFBA00;
  transform: translateY(-1px);
}

.grid-container {
  max-width: 1440px;
}

.inline-block {
  display: inline-block !important;
}

.ucase {
  text-transform: uppercase;
}

.site-header {
  border-bottom: 1px solid #eee;
}

.site-header h1 {
  opacity: 1;
  color: rgb(46, 48, 46);
  font-family: "Inter";
  font-size: 50px;
  font-weight: 900;
  font-style: normal;
  letter-spacing: -0.83px;
  text-align: left;
  line-height: 52px;
  text-transform: uppercase;
}

.topbar1 {
  background-color: #FFBA00;
  width: 100%;
  height: 16px;
  color: rgb(34, 36, 48);
  font-family: "RobotoMono-Bold", monospace;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.33px;
  text-align: center;
  text-transform: uppercase;
  line-height: 16px;
}

.main-header {
  padding: 8px;
}

.main-menu {
  display: inline-block;
}

.site-logo {
  display: inline-block;
}

.cart-icon {
  position: relative;
}

.cart-icon span {
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  line-height: 24px;
  height: 24px;
  width: 24px;
  text-align: center;
  font-size: 18px;
  font-family: "RobotoMono";
  display: inline-block;
  position: absolute;
  top: -10px;
  right: -10px;
}

.btngetStarted {
  width: 201px;
  height: 46px;
  margin-right: 16px;
  line-height: 46px;
}

.hero {
  height: 757px;
  background: linear-gradient(232deg, rgb(70, 78, 112) 0%, rgb(32, 55, 70) 100%);
  padding-top: 60px !important;
  padding-bottom: 60px;
}

.hero h1.headline {
  width: 670px;
  height: 165px;
  color: rgb(255, 250, 246);
  font-family: Inter;
  font-size: 64px;
  font-weight: 700;
  font-family: "Inter-Black";
  letter-spacing: -1.07px;
  text-transform: uppercase;
  line-height: 53px;
}

.hero h3 {
  width: 412px;
  height: 24px;
  color: rgb(255, 255, 255);
  font-family: RobotoMono;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0;
}

.hero .btnTryToday {
  margin-top: 25px;
  width: 347px;
  height: 56px;
  font-weight: 400;
  text-align: center;
  line-height: 56px;
}

.hero .btnTryToday:hover {
  background-color: transparent;
  border: 1px solid #FFBA00;
  color: #FFBA00;
  transform: translateY(-1px);
}

.hero .leftSide {
  position: relative;
}

.hero .rating {
  margin-top: 100px;
  color: #fff;
  font-family: "RobotoMono";
  font-size: 18px;
  max-width: 331px;
  text-transform: uppercase;
}

.hero .rating .author {
  margin-top: 20px;
}

.hero .rating .author .initial {
  background-color: #fff;
  color: #000;
  font-size: 20px;
  width: 39px;
  height: 39px;
  line-height: 39px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  letter-spacing: -3px;
}

.section2 {
  background-color: #EFF7FA;
  font-family: "RobotoMono";
  font-size: 18px;
}

.section2 h2 {
  font-family: "Inter-Black";
  font-size: 77px;
  line-height: 80px;
  text-transform: uppercase;
}

.section2 .content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section2 .content ul li {
  padding-left: 40px;
  background: url("../assets/images/bullet.png") no-repeat 0 6px;
  margin-bottom: 16px;
}

.section2 .contentbox1 {
  background-color: #fff;
  border-radius: 52px;
  padding-top: 74px;
  padding-bottom: 73px;
}

.section2 .part2 .grid .cellcontent {
  max-width: 320px;
  margin: 0px auto;
  position: relative;
}

.section2 .part2 .grid .cellcontent .stepnum {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid #000;
  font-family: "Inter-Black";
  font-family: 900;
  font-size: 26px;
}

.section2 .part2 .grid .cellcontent .info > img {
  float: left;
}

.section2 .part2 .grid .cellcontent .info > div {
  float: left;
}

.section2 .part2 .grid .cellcontent:after {
  content: "";
  clear: both;
}

.section2 .part3 h2 {
  text-transform: uppercase;
  font-size: 50px;
  font-family: "Inter-Black";
}

.section2 .part3 hr {
  width: 100%;
  max-width: unset;
  height: 1px;
  border: 1.5px solid rgb(70, 79, 110);
  opacity: 0.2;
}

.section2 .part2 .grid-container {
  max-width: 700px;
  margin: 0px auto;
}

.section3 {
  background-color: #EFF7FA;
  padding-bottom: 24px;
}

.section3 .img {
  background: url("../assets/images/section3-bg.jpg") no-repeat top center;
  background-size: cover;
  height: calc(100vh - 40px);
  position: relative;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.section3 .img h2 {
  position: absolute;
  top: 30%;
  left: 50%;
  font-family: "Inter-Black";
  font-size: 50px;
  width: 590px;
  text-transform: uppercase;
  color: #fff;
}

.section3 .carousel {
  width: 100%;
  overflow: hidden;
  height: 40px;
  margin-top: 24px;
}

.section3 .carousel ul {
  margin: 0;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  white-space: nowrap;
}

.section3 .carousel ul li {
  padding-left: 40px;
  background: url("../assets/images/bullet.png") no-repeat 0 6px;
  display: inline-block;
  font-family: "Inter-Black";
  font-size: 20px;
  text-transform: uppercase;
  margin-right: 50px;
}

.section4 {
  background-color: #EFF7FA;
  font-family: "RobotoMono";
  font-size: 18px;
  padding-top: 32px;
}

.section4 h2 {
  text-transform: uppercase;
  font-family: "Inter-Black";
  font-size: 50px;
  max-width: 30%;
  line-height: 50px;
}

.section4 .grid-x .cell > div {
  max-width: 360px;
  margin: 0px auto;
  font-size: 15px;
}

.section4 .grid-x .cell > div h3 {
  font-family: "Inter-Black";
  font-size: 23px;
  text-transform: uppercase;
  margin-top: 16px;
}

.section5 {
  background-color: #fff;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: "RobotoMono";
  font-size: 18px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.section5 hr {
  height: 2px;
  border: 2px solid rgb(29, 60, 52);
  opacity: 0.1;
}

.section5 h2 {
  font-family: "Inter-Black";
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.section5 .btnStart {
  margin-top: 32px;
  margin-bottom: 32px;
}

.section5 .btnStart:hover {
  background-color: #fff;
  border: 1px solid #FFBA00;
  color: #FFBA00;
  transform: translateY(-1px);
}

.section5 h6 {
  font-family: "RobotoMono";
  font-size: 18px;
}

.section5 .content ul li {
  padding-left: 40px;
  background: url("../assets/images/bullet.png") no-repeat 0 6px;
  margin-bottom: 16px;
}

.section5 .btnAddToCart {
  line-height: 65px;
  border-radius: 36px;
  padding: 0px 46px;
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  display: inline-block;
  transition: background-color 1s ease, color 1s ease, border-color 1s ease, transform 1s ease;
}

.section5 .btnAddToCart:hover {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  transform: translateY(-1px);
}

.section6 {
  background-color: #EFF7FA;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: "RobotoMono";
  font-size: 18px;
}

.section6 .grid-container {
  padding-top: 32px;
  padding-bottom: 32px;
}

.section6 h2 {
  font-family: "Inter-Black";
  font-size: 50px;
  text-transform: uppercase;
}

.section6 .txtinfo b {
  font-family: "RobotoMono";
  font-weight: normal;
  color: #434C6C;
}

.section6 .txtinfo p {
  font-family: "Aber Mono";
  font-size: 12px;
  color: #434C6C;
  font-weight: 700;
}

.section7 {
  background-color: #EFF7FA;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: "RobotoMono";
  font-size: 18px;
  background-color: rgb(41, 42, 53);
}

.section7 .grid-container {
  padding-top: 32px;
  padding-bottom: 32px;
}

.section7 h2 {
  font-family: "Inter-Black";
  font-size: 80px;
  text-transform: uppercase;
  color: #fff;
}

.section6 .txtinfo b {
  font-family: "RobotoMono";
  font-weight: normal;
  color: #434C6C;
}

.section6 .txtinfo p {
  font-family: "Aber Mono";
  font-size: 12px;
  color: #434C6C;
  font-weight: 700;
}

.product-card {
  border: 1px solid #eee;
  padding: 16px;
  text-align: center;
}

.hero {
  padding: 24px 0;
}

/*# sourceMappingURL=main.css.map */
