.site-header {  border-bottom: 1px solid #eee; }
.site-header h1{
	opacity: 1;
	color: rgba(46,48,46,1);
	font-family: "Inter";
	font-size: 50px;
	font-weight: 900;
	font-style: normal;
	letter-spacing: -0.83px;
	text-align: left; 
	line-height: 52px;
	text-transform: uppercase;
}
.topbar1 {
  background-color: $color-yellow;  
  width:100%;
  height: 16px;
  color: rgba(34, 36, 48, 1);
  font-family: 'RobotoMono-Bold', monospace;
  font-size: 12px;
  font-weight: 600;                    
  letter-spacing: 0.33px;
  text-align: center;
  text-transform: uppercase;
  line-height: 16px;                   
}
.main-header{
	padding:$spacing-sm;
}
.main-menu{
	display:inline-block;
}
.site-logo{
	display:inline-block; 
}

.cart-icon{
	position:relative;

}
.cart-icon span{
	background-color:$primary-color;
	color:$color-white;
	border-radius:50%;
	line-height: 24px;
	height:24px;
	width:24px;
	text-align:center;
	font-size:18px;
	font-family:"RobotoMono";
	display:inline-block;
	position:absolute;
	top:-10px;
	right:-10px;
}
.btngetStarted{
	width: 201px;
	height: 46px;
	margin-right:$spacing-md;
	line-height: 46px ;
}