.hero{
	height: 757px;
	background: linear-gradient(232deg, 
	rgba(70, 78, 112, 1) 0%, 
	rgba(32, 55, 70, 1) 100%);	
	padding-top:60px !important;
	padding-bottom:60px;
} 

.hero h1.headline{
	width: 670px;
 	height: 165px;
	color: rgba(255, 250, 246, 1);
	font-family: Inter;
	font-size: 64px;
	font-weight: 700;
	font-family: 'Inter-Black';
	letter-spacing: -1.07px;
	text-transform: uppercase;	
	line-height:53px;
}
.hero h3{
	width: 412px;
	height: 24px;
	color: rgba(255, 255, 255, 1);
	font-family: RobotoMono;
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;	
	margin-bottom:0
}

.hero .btnTryToday{
	margin-top:25px;
	width: 347px;
	height: 51px;
	font-weight: 400;
	text-align: center;
	line-height: 24px;
	padding-top:13px;
}

.hero .leftSide{
	position:relative;
}
.hero .rating{
	margin-top:100px;
	color:$color-white;
	font-family: 'RobotoMono';
	font-size:18px;
	max-width:331px;
	text-transform: uppercase;
}
.hero .rating .author{
	margin-top:20px;
}
.hero .rating .author .initial{
	background-color: $color-white;
	color:$primary-color;
	font-size:20px;
	width:39px;
	height:39px;
	line-height:39px;
	text-align: center;
	display: inline-block;
	border-radius: 50%;
	letter-spacing: -3px;
}