.section7{
	background-color: $color-light-blue;
	padding-top:$spacing-xl;
	padding-bottom :$spacing-xl;
	font-family: 'RobotoMono';
	font-size: 18px;
	background-color: rgba(41, 42, 53, 1);
	color:$color-white;
}
.section7 .grid-container{
	padding-top:$spacing-xl;
	padding-bottom :$spacing-xl;

}
.section7 h2{
	font-family: 'Inter-Black';
	font-size:80px;
	line-height: 80px;
	color:$color-white;
	margin-bottom:$spacing-md;
}
.section7 h3{
	font-family: 'Inter-Black';
	font-size:50px;
	line-height: 50px;
	color:$color-white;
	margin-bottom:$spacing-md;
}
.section7 h5{
	font-family: 'RobotoMono';
	font-size:18x;
	margin-top:$spacing-md;
}
.section6 .txtinfo b{
	font-family: 'RobotoMono';
	font-weight: normal;
	color:#434C6C;	
} 
.section6 .txtinfo p{
	font-family: 'Aber Mono';
	font-size: 12px;
	color:#434C6C;
	font-weight:700;
}
.section7 .testimonial-box{
	background-color: #EFF7FA;
	border-radius: 36px;
	padding:30px;
	color:#434C6C;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.25;
}
.section7 .testimonial-box .initial{
	background-color: $color-white;
	border:2px solid #2E302E;
	color:$primary-color;
	font-size:24px;
	width:54px;
	height:54px;
	line-height:54px;
	text-align: center;
	display: inline-block;
	border-radius: 50%;
	font-family: 'Circular';
}
.section7 .testimonial-box .name{
	font-family: 'Inter-SemiBold';
	font-weight: 600;
	font-size: 15px;
	color:#002657;
}
.section7 .testimonial-box .position{
	font-family: 'RobotoMono';
	font-weight: 400;
	font-size: 12px;
}

@media screen and (max-width: 64em) {
	.section7 h2{
		font-size:60px;
	}
}
@media screen and (max-width: 40em) { /* small down = 640px */
	.section7 h2{
		font-size:40px;
	}
}