.section7{
	background-color: $color-light-blue;
	padding-top:$spacing-xl;
	padding-bottom :$spacing-xl;
	font-family: 'RobotoMono';
	font-size: 18px;
	background-color: rgba(41, 42, 53, 1);
}
.section7 .grid-container{
	padding-top:$spacing-xl;
	padding-bottom :$spacing-xl;

}
.section7 h2{
	font-family: 'Inter-Black';
	font-size:80px;
	text-transform: uppercase;
	color:$color-white;
}
.section6 .txtinfo b{
	font-family: 'RobotoMono';
	font-weight: normal;
	color:#434C6C;	
} 
.section6 .txtinfo p{
	font-family: 'Aber Mono';
	font-size: 12px;
	color:#434C6C;
	font-weight:700;
}
