.section6{
	background-color: $color-light-blue;
	padding-top:$spacing-xl;
	padding-bottom :$spacing-xl;
	font-family: 'RobotoMono';
	font-size: 18px;
}
.section5 hr{
	height: 2px;
	border: 2px solid rgba(29, 60, 52, 1);
	opacity: 0.1;
}
.section5 h2{
	font-family: 'Inter-Black';
	font-size:50px;
	line-height: 50px;
	text-transform: uppercase;
	margin-bottom: $spacing-xl;
}
.section5 .btnStart{
	background-color: $color-yellow;
	text-align: center;
	border-radius: 35px;
	color:$primary-color; 
	font-family: 'RobotoMono';
	line-height: 37px;
	height: 37px;
	padding:0px 37px;
	display: inline-block;
	margin-top:$spacing-xl;
	margin-bottom: $spacing-xl;
}
.section5 .btnStart:hover{
	background-color: $color-white;
	border:1px solid $color-yellow;
	color:$color-yellow;
	transform: translateY(-1px);
}
.section5 h6{
	font-family: 'RobotoMono';
	font-size: 18px;
}
.section5 .content ul li{
	padding-left:40px;
	background: url("../assets/images/bullet.png") no-repeat 0 6px;
	margin-bottom:$spacing-md;
}

.section5 .btnAddToCart{
	line-height: 65px;
	border-radius: 36px;
	padding:0px 46px;
	color:$color-white;
	background-color: $primary-color;
	border:1px solid $primary-color;
	display: inline-block;
	transition: background-color 1s ease, color 1s ease, border-color 1s ease, transform 1s ease;

}
.section5 .btnAddToCart:hover{
	background-color: $color-white;
	border:1px solid $primary-color;
	color:$primary-color;
	transform: translateY(-1px);
}