.section3 .img{
	background: url('../assets/images/section3-bg.jpg') no-repeat top center;
	background-size:cover;
	height:calc(100vh - 40px);
	position:relative;
}
.section3  .img h1{
	position:absolute;
	top:30%;
	left:50%;
	font-family: "Inter-Black";
	font-size:50px;
	width:590px;
	text-transform: uppercase;
	color:$color-white;
}

.section3 .carousel {
	width:100%;
	overflow:hidden;
	height: 40px;
}
.section3 .carousel ul{
	margin:0;
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	white-space: nowrap;
}
.section3 .carousel ul li{
	padding-left:40px;
	background: url("../assets/images/bullet.png") no-repeat 0 6px;
	display: inline-block;
	font-family: 'Inter-Black';
	font-size: 20px;
	text-transform:uppercase;
	margin-right: 50px;
}