/* Aber Mono */
@font-face {
  font-family: 'Aber Mono';
  src: url('../assets/fonts/Aber-Mono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Aktiv Grotesk Ext */
@font-face {
  font-family: 'Aktiv Grotesk Ext';
  src: url('../assets/fonts/Aktiv-Grotesk-Ext.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aktiv Grotesk Ext';
  src: url('../assets/fonts/Aktiv-Grotesk-Ext-Xbold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Circular */
@font-face {
  font-family: 'Circular';
  src: url('../assets/fonts/Circular-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Gellix */
@font-face {
  font-family: 'Gellix';
  src: url('../assets/fonts/Gellix.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gellix';
  src: url('../assets/fonts/Gellix-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gellix';
  src: url('../assets/fonts/Gellix-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Goldplay */
@font-face {
  font-family: 'Goldplay';
  src: url('../assets/fonts/Goldplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Goldplay';
  src: url('../assets/fonts/Goldplay-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Inter */
@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
/* Inter */
@font-face {
  font-family: 'Inter-Black';
  src: url('../assets/fonts/Inter_28pt-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal; 
  font-display: swap;
}
/* Roboto Mono */
@font-face {
  font-family: 'RobotoMono';
  src: url('../assets/fonts/Roboto_Mono.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'RobotoMono-Bold';
  src: url('../assets/fonts/Roboto-Mono-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}